@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');

@import "./styles/button.css";
@import "./styles/checkbox.css";
@import "./styles/indicator.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Geist';
  src: url('/fonts/GeistVariableVF.woff2') format('woff2');
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'Geist Mono';
  src: url('/fonts/GeistMonoVariableVF.woff2') format('woff2');
  font-weight: 100 900;
  font-display: swap;
}

* {
  text-rendering: optimizeLegibility !important;
}

.font-sans {
  font-feature-settings: "ss05", "tnum";
  -moz-font-feature-settings: "ss05", "tnum";
  -webkit-font-feature-settings: "ss05", "tnum";
}

html {
  scroll-behavior: smooth;
}

._toast {
  border-radius: 0.5rem !important;
  color: theme("colors.fg") !important;

  & div[aria-live="polite"] {
    margin: 4px 0 4px 10px !important;
    padding: 2px;
  }
}

body {
  @apply hide-scrollbar;
  touch-action: none;
}

details > summary { list-style-type: none }
details > summary::-webkit-details-marker { display: none }

::-webkit-scrollbar {
  width: 0.2rem;
  height: 0.2rem;
}
::-webkit-scrollbar-track { background: transparent }
::-webkit-scrollbar-thumb {
  background-color: rgb(var(--c-fg) / 0.15);
  border-radius: 0.1rem;
  &:hover { background-color: rgb(var(--c-fg) / 0.4) }
}
::-webkit-scrollbar-corner { background: transparent }

* {
  scrollbar-color: rgb(var(--c-fg) / 0.15) transparent;
  scrollbar-width: thin;
}

@layer base {
  :root {
    --c-bg-0: 17 24 39;
    --c-bg-1: 23 32 46;
    --c-bg-2: 29 39 52;
    --c-bg-3: 55 65 81;
    --c-fg: 255 255 255;
    --c-accent: 5 134 255;
    --c-accent-light: 87 174 255;
    --c-primary: 0 120 225;
    --c-primary-hover: 0 95 179;
    --c-primary-fg: 255 255 255;
    --c-secondary: 190 61 255;
    --c-success: 19 176 118;
    --c-success-hover: 12 138 91;
    --c-success-fg: 255 255 255;
    --c-danger: 238 52 52;
    --c-danger-hover: 184 28 28;
    --c-danger-fg: 255 255 255;
    --c-neutral: 55 60 75;
    --c-neutral-hover: 45 50 65;
    --c-neutral-fg: 255 255 255;
    --c-link: 75 213 255;
    --c-link-hover: 155 232 255;
    --c-link-visited: 75 213 255;
  }
}

main {
  background-color: rgb(var(--c-bg-2));
  background-image:
    radial-gradient(at 75% 25%, rgb(var(--c-accent) / 0.11) 0px, transparent 60%),
    radial-gradient(at 10% 90%, rgb(var(--c-secondary) / 0.11) 0px, transparent 60%);
}

@layer utilities {
  .bg-0 { @apply bg-bg-0 }
  .bg-1 { @apply bg-bg-1 }
  .bg-2 { @apply bg-bg-2 }
  .bg-3 { @apply bg-bg-3 }

  .input { @apply w-full bg-0 rounded-lg text-sm font-medium p-3 outline-none focus:ring-2 ring-accent }
  .divider {
    @apply h-4 whitespace-nowrap flex flex-row items-center self-stretch;

    &:before, &:after { @apply bg-fg/10 h-0.5 w-full flex-grow content-[''] }
    &:not(:empty) { @apply gap-4 }

    &-start:before { @apply hidden }
    &-end:after { @apply hidden }
  }
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-down {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.context-menu { animation: fade-in-up 0.2s ease-in-out }
.dropdown { animation: fade-in-down 0.2s ease-in-out }

@keyframes alert-unsaved {
  0%, 100% { transform: translateX(0) }
  10%, 30%, 50%, 70%, 90% { transform: translateX(-0.5rem) }
  20%, 40%, 60%, 80% { transform: translateX(0.5rem) }

  0% { background-color: rgb(var(--c-danger)) }
  100% { background-color: rgb(var(--c-bg-0) / 0.8) }
}

.katex-display { overflow: auto hidden }
.katex * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.shiki {
  @apply !bg-transparent whitespace-pre-wrap break-words;
  @apply all-children:px-0 all-children:text-sm all-children:font-normal;
}

.tippy-box[data-theme~="default"] {
  background-color: rgb(var(--c-bg-3));
  color: rgb(var(--c-fg));
}

.tippy-box .tippy-arrow::before { color: rgb(var(--c-bg-3)) }